#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

defaults:
  ControlMaster: auto
  # See: https://github.com/moul/advanced-ssh-config/issues/91#issuecomment-230146998
  ControlPath: ~/tmp/.ssh/cm/%h-%p-%r.sock
  # ControlPath: ~/tmp/.ssh/cm/%C
  ControlPersist: yes
  ForwardAgent: yes
  # Port: 22
  # User: foo

includes:
  - ~/.ssh/assh.d/*/*.yml
  - ~/.ssh/assh_personal.yml
