#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

defaults:
  ControlMaster: auto
  ControlPath: ~/tmp/.ssh/cm/%h-%p-%r.sock
  ControlPersist: yes
  # Port: 22
  # User: foo

includes:
  - ~/.ssh/assh_personal.yml
  - ~/.ssh/assh.d/*/*.yml
