#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

#
# This file will live in /etc/{apache2|httpd}/conf.d/custom-apache2.conf
#

{% if ansible_os_family == "RedHat" %}
#
# We just include all enabled vhosts, like Ubuntu does.
#
IncludeOptional /etc/httpd/sites-enabled/*.conf
{% endif %}
