/*
 * --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
 */

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ conf_icinga_ido_db_name }}",
  password = "{{ conf_icinga_ido_db_pass }}",
  host = "{{ conf_icinga_ido_db_host }}",
  port = "{{ conf_icinga_ido_db_port }}",
  database = "{{ conf_icinga_ido_db_name }}"
}
