#
# ~/.appflow/config
#
# AppFlow configuration file.
#

CFG_TENANT_ID=appflow-mrrobot
CFG_TENANT_NAME=mrrobot
CFG_DEFAULT_ENV=development
CFG_APPFLOW_SUPPORT_MAIL=support@mrrobot.io

#
# Admin knows all tenants
#
mrrobot=appflow-mrrobot
foobar=appflow-foobar
