#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

brick1   -fstype=glusterfs,_netdev,log-level=WARNING,log-file=/var/log/glusterfs/autofs-brick1.log,backupvolfile-server={{ conf_glusterfs_failover }}   localhost:/gvol0
