#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

db_dsn = {{ conf_mogilefs_db_dsn }}
db_user = {{ conf_mogilefs_db_user }}
db_pass = {{ conf_mogilefs_db_pass }}
conf_port = {{ conf_mogilefs_port }}
listener_jobs = 5
node_timeout = 5
rebalance_ignore_missing = 1
