#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

{% if conf_jails[item.value.jail].vhosts.0 is defined %}
{% for item in conf_jails[item.value.jail].vhosts %}
[client{{ item }}]
user = {{ conf_vhosts_common[item].db_user }}
password = {{ conf_vhosts_common[item].db_password }}
database = {{ conf_vhosts_common[item].db_name }}
host = localhost

{% endfor %}
{% endif %}
