!
! --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! ip a | grep -e inet.*eth0 !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

global_defs {
  lvs_id {{ ansible_hostname }}
}

#vrrp_sync_group SyncGroup01 {
#        group {
#                VI_1, VI_2
#        }
#}

# Define the script used to check if haproxy is still working
vrrp_script chk_haproxy {
    script "killall -0 haproxy"
    interval 2
    weight 2
}

vrrp_instance VI_1 {
    state {{ conf_keepalived_state }}
    interface {{ conf_keepalived_interface }}
    virtual_router_id {{ conf_keepalived_virtual_router_id }}
    priority {{ conf_keepalived_priority }}
    advert_int {{ conf_keepalived_advert_int }}
    authentication {
        auth_type {{ conf_keepalived_auth_type }}
        auth_pass {{ conf_keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ conf_keepalived_virtual_ipaddress }} dev {{ conf_keepalived_interface }}
    }

    # Use the script above to check if we should fail over
    track_script {
        chk_haproxy
    }

    notify /etc/keepalived/notify.sh
}
