#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

[Unit]
Description=Supervisor daemon

[Service]
Type=forking
ExecStart={{ conf_supervisor_bin_path }} -c {{ conf_supervisor_config_path }}/supervisord.conf
ExecStop=/usr/bin/supervisorctl $OPTIONS shutdown
ExecReload=/usr/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
