#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

# Listen for connections from SNMP Server - Format: udp:127.0.0.1:161
agentAddress {{ conf_snmp_agent_address }}

# SNMPv2 configuration
rocommunity {{ conf_snmp_ro_communiy }}
syslocation "{{ conf_snmp_sys_location }}"
syscontact "{{ conf_snmp_sys_contact }}"

SNMPDOPTS='"{{ conf_snmp_daemon_options }}"'

proc nsd
