/*
 * --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
 */

/**
 * The example user 'icingaadmin' and the example
 * group 'icingaadmins'.
 */

object User "icingaadmin" {
  import "generic-user"

  display_name = "Icinga 2 Admin"
  groups = [ "icingaadmins" ]

  email = "root@localhost"
}

object UserGroup "icingaadmins" {
  display_name = "Icinga 2 Admin Group"
}

/************************
 * PERSONAL PREFERENCES *
 ************************/

{{ conf_icinga_object_user }}
{{ conf_icinga_object_usergroup }}
