---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #162C21;
    background-image: linear-gradient(300deg, #BDCF49, #3E5D5F);
    /* background-image: linear-gradient(120deg, #3E5D5F, #BDCF49); */
    /* background-image: linear-gradient(120deg, #BDCF49, #658C49); */
}
