#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

# Settings for autossh.  This file is sourced by /bin/bash from /etc/init.d/autossh.

AUTOSSH_USER=autossh
{{ conf_autossh_opts }}

{{ conf_autossh_tunnels }}
