#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

[Unit]
Description=Mogilefs Daemon
After=mogstored.service mysqld.service

[Service]
ExecStart=/usr/local/bin/mogilefsd -c /etc/mogilefs/mogilefsd.conf
Type=simple
User={{ conf_mogilefs_user }}

[Install]
WantedBy=multi-user.target
