#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

[Unit]
Description=Mogstored Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/mogstored -c /etc/mogilefs/mogstored.conf --daemon
Type=forking
User={{ conf_mogilefs_user }}

[Install]
WantedBy=multi-user.target
