#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

export http_proxy={{ conf_http_proxy }}
export https_proxy={{ conf_http_proxy }}
export ftp_proxy={{ conf_http_proxy }}
export rsync_proxy={{ conf_http_proxy }}
{% if conf_no_proxy is defined %}
export no_proxy="{{ conf_no_proxy }}"
{% else %}
export no_proxy="localhost,127.0.0.1"
{% endif %}
export HTTP_PROXY_REQUEST_FULLURI=false
export HTTPS_PROXY_REQUEST_FULLURI=false
