#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

export http_proxy={{ conf_http_proxy }}
export https_proxy={{ conf_http_proxy }}
export ftp_proxy={{ conf_http_proxy }}
export rsync_proxy={{ conf_http_proxy }}
