#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

Host {{ conf_backup_host }}
	Hostname {{ conf_backup_host }}
	Port {{ conf_backup_port }}
	User {{ conf_backup_user }}
	IdentityFile /etc/borgmatic/id_rsa-backup
