#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

Host {{ conf_attic_host }}
	Hostname {{ conf_attic_host }}
	Port {{ conf_attic_port }}
	User {{ conf_attic_user }}
	IdentityFile /etc/atticmatic/id_rsa-attic