#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

daemonize yes
pidfile /var/run/redis/{{ conf_redis_daemon }}.pid
port {{ conf_redis_port }}
bind {{ conf_redis_bind_interface }}

{% if conf_redis_unixsocket %}
unixsocket {{ conf_redis_unixsocket }}
{% endif %}

timeout {{ conf_redis_timeout }}

loglevel {{ conf_redis_loglevel }}
logfile {{ conf_redis_logfile }}

# To enable logging to the system logger, just set 'syslog-enabled' to yes,
# and optionally update the other syslog parameters to suit your needs.
# syslog-enabled no
# syslog-ident redis
# syslog-facility local0

databases {{ conf_redis_databases }}

{% for save in conf_redis_save %}
save {{ save }}
{% endfor %}

rdbcompression {{ conf_redis_rdbcompression }}
dbfilename {{ conf_redis_dbfilename }}
dir {{ conf_redis_dbdir }}

# maxclients 128

{% if conf_redis_maxmemory %}
maxmemory {{ conf_redis_maxmemory }}
maxmemory-policy {{ conf_redis_maxmemory_policy }}
maxmemory-samples {{ conf_redis_maxmemory_samples }}
{% endif %}

appendonly {{ conf_redis_appendonly }}
appendfsync {{ conf_redis_appendfsync }}
no-appendfsync-on-rewrite no

{% for include in conf_redis_includes %}
include {{ include }}
{% endfor %}

{% if conf_redis_requirepass %}
requirepass {{ conf_redis_requirepass }}
{% endif %}

{% for conf_redis_disabled_command in conf_redis_disabled_commands %}
rename-command {{ conf_redis_disabled_command }} ""
{% endfor %}
